* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    position: fixed;
}

#sidebar {
    background-color: white;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    filter: drop-shadow(2px 4px 6px black);
    padding: 20px;
    transition: all 0.3s;
}

.row {
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.row:hover {
    transform: scale(1.05);
}

.row label {
    width: 40%;
}

.row input {
    width: 60%;
}

#grid-objects {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 100%;
    justify-content: center;
}

.object {
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#expand {
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px);
    left: -40px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
    font-weight: bold;
}